.textContainer{
    width: 76vh;
    font-size: 1.2rem;
    margin: 0;
}

.text{
    height: auto;
    margin: 0%;
    padding-left: 5vh;
    padding-right: 5vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
    text-wrap: normal;
    text-align: left;
}