header {
    width: auto;
    height: 'auto';
    background: linear-gradient(90deg, rgba(48, 46, 73, 1) 18%, rgba(50, 50, 130, 1) 60%, rgba(96, 123, 184, 1) 100%);
    margin-bottom: 2vh;
    font-size: 1.1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.opt-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.dropdown {
    width: 100%;
}

.dropdown .opts {
    margin: 0;
    width: 100%;
    height: auto;
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0);
    border: 0;
    transition: 0.5s;
}

.dropdown:hover .opts {
    background: linear-gradient(90deg, rgba(188, 255, 255, 0.409) 0%, rgba(96, 123, 184, 0) 75%);
}

.dropdown-content {
    display: none;
    position: relative;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}

@media(min-width: 431px) {
    .opt-container {
        flex-direction: row;
        justify-content: space-evenly;
    }

    .dropdown-content {
        position: absolute;
    }

    .dropdown:hover .opts {
        background: linear-gradient(0deg, rgba(188, 255, 255, 0.409) 0%, rgba(96, 123, 184, 0) 75%);
    }
}